---
layout: layouts/home.njk
contact: 
    label: Are you interested in contributing?
    link: 
        label: Contact us! 
---

<div class="center borderOuter">
    <div class="menuHeader">
        <div class="borderInner">
            <h1>{{ metadata.title }}</h1>
        </div>
    </div>
    <ul>
        {% for item in navigation %}
        <li class="borderInner"><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>
    <div class="menuFooter">
        <div class="borderInner">
            <h1>{{ contact.label }}
                <a href="{{ metadata.author.url }}">{{ contact.link.label }}</a>
            </h1>
        </div>
    </div>

    <div class="mouseFollower"></div>

</div>