.instrument-designer {
  .canvas {
    display: block;
    width: 100%;
    height: 680px;
    background-color: get-color(green-sea);
  }

  .border {
    border: 3px solid get-color(blue-midnight);

    + .border {
      border-top: 0;
    }
  }

  @import "Tabs/style";
  @import "FMConfig/style";
}
