---
layout: layouts/base.njk
title: Instrument Designer
templateClass: tmpl-base
eleventyNavigation:
  key: Instrument-designer
  order: 3

tabs:
  - label: Frq 1
    color: blue-dark
  - label: Frq 2
    color: blue-dark
  - label: Frq 3
    color: blue-dark
  - label: Frq 4
    color: blue-dark
  - label: Filtr
    color: blue-dark
  - label: Loctn
    color: blue-dark
  - label: Ind 1
    color: crimson
  - label: Ind 2
    color: crimson
  - label: Ind 3
    color: crimson
  - label: Ind 4
    color: crimson
  - label: Ind 5
    color: crimson
  - label: Ind 6
    color: crimson

mouseFollowerData:
    - Welcome to the page of the Buchla 700 emulator.
    - It mimics the operating system of the 700.
    - This is the main menu. Click on one of items to get more info.
---
<div class="center instrument-designer">
  {% include "./_partials/Tabs.njk" %}

  <div class="canvasWrapper border">
    <canvas class="canvas" width="1080" height="680"/>
  </div>

  {% include "./FMConfig/index.njk" %}
</div>