---
layout: layouts/base.njk
title: Instrument Designer
templateClass: tmpl-base
eleventyNavigation:
  key: Instrument-designer
  order: 3

tabs:
  labels:
    - Frq 1
    - Frq 2
    - Frq 3
    - Frq 4
    - Filtr
    - Loctn

  labels2:
    - Ind 1
    - Ind 2
    - Ind 3
    - Ind 4
    - Ind 5
    - Ind 6

mouseFollowerData:
    - Welcome to the page of the Buchla 700 emulator.
    - It mimics the operating system of the 700.
    - This is the main menu. Click on one of items to get more info.
---
<div class="center instrument-designer">
  {% set labels = tabs.labels %}
  {% set color = 'blue-dark' %}
  {% include "./_partials/tabs.njk" %}
  {% set labels = tabs.labels2 %}
  {% set color = 'crimson' %}
  {% include "./_partials/tabs.njk" %}
  <div class="">
    <canvas class="canvas" width="1080" height="680"/></div>
  <div class=""></div>
</div>