---
layout: layouts/base.njk
title: Color Palette
templateClass: tmpl-base
eleventyNavigation:
  key: Color Palette
  order: 3
---

<div class="color-palette">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>