$heading-selectors: "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6";

$colors: (
    black: #000000,
    crimson: #560055,
    blue-dark: #000056,
    blue-midnight: #3c3d76,
    rosewood: #550000,
    brown-rust: #7f400c,
    orange: #aa5500,
    orange-peach: #a38e80,
    green-olive: #555000,
    green-vibrant: #09D323,
    turquoise: #6a9d9c,
    turquoise-light: #7ED2D2,
    green-sea: #005555,
    );
